.ba-container {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid black;
	width: 35%;
	height: auto;
	background-color: #00ffff;
	margin: 0 auto;
}

.ba-title {
	text-align: center;
}

